

.main 
{
	width: 840px;
    height: 852px;
    background: white;
    border: solid 1px black;
	position:relative;
	margin:0px auto;
	
}



.block1 {
    width: 598px;
    height: 213px;
    background: #c7d9f1;
    padding: 0px;
    border-bottom: solid 1px black;
    float: left;
	position: relative;
	text-align:right;

	

}

.block1 p{
    position: absolute;
    background: #c7d9f1;
	top: 76px;
	left: 363px;

	

}

.middle{
	width: 598px;
    height: 426px;
    background: white;
    padding: 0px;
	position: relative;
    border-bottom: solid 1px black;
    float: left;
}

.block3 {
    width: 200px; 
    height: 426px; 
    background: pink;
    padding: 0px;
    border-right: solid 1px black;
    float: left;
	
position: relative;

}

.block3 p{
	position: absolute;
  top: 137px;

  text-align:center;

	
}


.block4 {
    width: 377px; 
    height: 60px; 
    background: pink;
    border-bottom: solid 1px black;
    float: left;
	text-align: center;
    padding: 10px;
	text-decoration: underline;
}

.block4 a{
	font-size: 20px; 
    color: black;
    text-decoration: none;
    margin-right: 20px;


}

.block5 {
    width: 397px; 
    height: 345px; 
    background: white;
    padding: 0px;
    float: left;


  justify-content: center;
  align-items: center;
  text-align:center;
}

.block2{
	width: 241px;
    height: 640px;
    background: #eaf2dd;
    padding: 0px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    border-left: solid 1px black;
    float: right;
    position: relative;
    top: -215px;
    left: 0;


  align-items: center;
   
}

.block2 p{
	position: absolute;
	top: 119px;
 
  text-align:right;
 
	
}


.block6 {
    width: 840px;
    height: 211px;
    position: relative;
    background: #c7d9f1;
    bottom: 215px;
    left: 0px;
	top: 641px;
   

}


.block6  p{

    position: absolute;
    background: #c7d9f1;
	top: 77px;
   

}


.x{
    width: 230px;
    height: 57px;
    background: white;
    padding: 0px;
    border: solid 1px black;
    position: absolute;
    right: 323px;
    top: 83px;

}


.y{
    width: 288px;
    height: 68px;
    background: white;
    padding: 0px;
    border: solid 1px black;
    position: absolute;
    right: 20px;
    top: 81px;
	text-align:right;
}
